:root {
  --cor-1: #ffce15;
  --cor-2: #161616;
  --cor-3: #fbf9f8;
  --cor-4: #8b8489;
  --cor-5: #7e6710;
}

* {
  font-family: Arial, sans-serif;
}

.wrapperContainerHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#img-logo {
  display: inline-block;
  width: 250px;
}

.nav-bar {
  display: flex;
  border-bottom: 1px solid var(--cor-1);
  margin: 0.5em;
}

.nav-bar a {
  justify-content: space-around;
  padding: 1em;

  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  transform: scale(1.2);
}

.wrapperContainerSobre {
  padding: 50px 0;
  background-color: var(--cor-3);
}

#sobre {
  display: flex;
  justify-content: space-around;
}

#sobre img {
  width: 400px;
  border-radius: 50%;
  padding-left: 100px;
}

#sobre .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#sobre h2 {
  color: var(--cor-5);
}
