:root {
  --primary-color: #ffce15
} 

* {
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#img-logo {
  display: inline-block;
  width: 250px;
}

.nav-bar {
  display: flex;
  border-bottom: 1px solid var(--primary-color);
  margin: .5em;
}

.nav-bar a {
  justify-content: space-around;
  padding: 1em;
  
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  transform: scale(1.2);
}