:root {
  --cor-1: #ffce15;
  --cor-2: #161616;
  --cor-3: #fbf9f8;
  --cor-4: #e4eeef;
  --cor-5: #c9a00a;
}

* {
  font-family: Arial, sans-serif;
}




@media (min-width: 769px) {

/* Header */

.wrapperContainerHeader {
  position: sticky;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#img-logo {
  display: inline-block;
  width: 120px;
}

.nav-bar {
  display: flex;
  border-bottom: 1px solid var(--cor-1);
  margin: 0.5em;
}

.nav-bar a {
  justify-content: space-around;
  padding: 1em;
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  transform: scale(1.2);
}

/* Sobre */

.wrapperContainerSobre {
  padding: 50px 0;
  background-color: var(--cor-3);
}

#sobre {
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}

#sobre img {
  width: 400px;
  border-radius: 50%;
  padding-left: 100px;
}

#sobre .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#sobre h2 {
  color: var(--cor-5);
}

/* Eletromedicina */

.wrapperContainerEletromedicina {
  padding: 50px 0;
  background-color: var(--cor-4);
}

#eletromedicina {
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}

#eletromedicina img {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  padding-right: 100px;
}

#eletromedicina .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#eletromedicina h2 {
  color: var(--cor-5);
}

/* Formação */

.wrapperContainerFormacao {
  padding: 50px 0;
  background-color: var(--cor-3);
}

#formacao {
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}

#formacao img {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  padding-left: 100px;
}

#formacao .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#formacao h2 {
  color: var(--cor-5);
}

#burguer-menu-icon {
  display: none;
}

}



@media (max-width: 768px) {

/* Header */

.wrapperContainerHeader {
  position: sticky;
  top: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}

#img-logo {
  display: inline-block;
  width: 120px;
}

.nav-bar {
  display: none;
}

#burguer-menu-icon {
  display: block;
  background-color: var(--cor-3);
  margin: 20px;
}

/* Sobre */

.wrapperContainerSobre {
  padding: 50px 0;
  background-color: var(--cor-3);
}

#sobre {
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}

#sobre img {
  width: 400px;
  border-radius: 50%;
  padding-left: 100px;
}

#sobre .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#sobre h2 {
  color: var(--cor-5);
}

/* Eletromedicina */

.wrapperContainerEletromedicina {
  padding: 50px 0;
  background-color: var(--cor-4);
}

#eletromedicina {
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}

#eletromedicina img {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  padding-right: 100px;
}

#eletromedicina .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#eletromedicina h2 {
  color: var(--cor-5);
}

/* Formação */

.wrapperContainerFormacao {
  padding: 50px 0;
  background-color: var(--cor-3);
}

#formacao {
  display: flex;
  justify-content: space-around;
  border-collapse: collapse;
}

#formacao img {
  width: 400px;
  height: 300px;
  border-radius: 50%;
  padding-left: 100px;
}

#formacao .conteudo {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  line-height: 2;
}

#formacao h2 {
  color: var(--cor-5);
}

}
